footer {
    width: 100%;
    height: 6.25rem;
    background-color: map-get($colores, fondo-header-footer );
    margin-top: .625rem;

    .footer {
        @include flex(row, space-around, center);
        ul{
            margin: 0;
            li {
                list-style: none;
    
            }
        }



        .lista-1 {
            margin-top: .625rem;
            @include flex(column, center, none);
            gap: 2.5rem;


            li {
                text-decoration: none;
                color: map-get($colores, color-texto );
            }
        }

        .iconos {
            @include flex(row, none, center);
            gap: .625rem;

            img {
                width: 1.875rem;
            }

            li a {
                &:hover {
                    background-color: none;
                    border-radius: none;
                }
            }
        }
    }
}