main {

    // --------------------------
    .titulo-inicio {
        text-align: center;
        margin-top: .9375rem;
        margin-bottom: .9375rem;
        font-size: 2rem;
        color: map-get($colores, color-titulos );
        font-weight: bold;
    }

    .galeria-inicio {
        display: flex;
        width: 43.75rem;
        height: 26.875rem;
        margin: auto;

        img {
            width: 0;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;

            &:hover {
                width: 18.75rem;
                opacity: 1;
                filter: contrast(1);
                border-radius: 0px;
            }

            &:first-child {
                border-radius: .625rem 0 0 .625rem;
            }

            &:last-child {
                border-radius: 0 .625rem .625rem 0;
            }
        }
    }

    h2 {
        margin-top: .9375rem;
        margin-bottom: .9375rem;
        text-align: center;
        color: map-get($colores, color-titulos );
    }

    .grid-inicio {
        display: grid;
        width: 80%;
        height: 37.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            " img1 img1 parrafo1 parrafo1"
            " img1 img1 parrafo1 parrafo1"
            " img2 img2 parrafo2 parrafo2"
            " img2 img2 parrafo2 parrafo2"
        ;
        justify-content: center;
        align-content: center;
        margin: auto;

        .img1 {
            grid-area: img1;
            justify-self: center;
            align-self: center;
        }

        .img2 {
            grid-area: img2;
            justify-self: center;
            align-self: center;
        }

        .parrafo-grid-1 {
            justify-self: center;
            align-self: center;
            grid-area: parrafo1;
            font-size: 1.125rem;
            color: map-get($colores, color-texto );
            text-indent: .4375rem;
        }

        .parrafo-grid-2 {
            justify-self: center;
            align-self: center;
            grid-area: parrafo2;
            font-size: 1.125rem;
            color:  map-get($colores, color-texto );
            text-indent: .4375rem;
        }

        img {
            width: 15.625rem;
            border-radius: .3125rem;
        }
    }

    .grid-seleccion {
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.875rem repeat(3, 1fr);
        grid-template-areas:
            "titulo-grid         .              ."
            " parrafo-se     parrafo-se      parrafo-se"
            " img1-seleccion img2-seleccion img3-seleccion"
            " img1-seleccion img2-seleccion img3-seleccion"
        ;
        justify-content: center;
        margin-bottom: .9375rem;

        img {
            border-radius: .625rem;
            width: 18.75rem;
        }

        .titulo-grid {
            grid-area: titulo-grid;
            color: map-get($colores, color-titulos );
        }

        .parrafo-seleccion {
            grid-area: parrafo-se;
            color: map-get($colores, color-texto );
        }

        .img1-seleccion {
            grid-area: img1-seleccion;
            align-self: center;
            justify-self: center;
        }

        .img2-seleccion {
            grid-area: img2-seleccion;
            align-self: center;
            justify-self: center;
        }

        .img3-seleccion {
            grid-area: img3-seleccion;
            align-self: center;
            justify-self: center;
        }

    }

    // -----------------------------------------------
    .section-barcelona {
        margin: auto;
        width: 96%;
        @include flex(column, center, center);
        gap: 1.25rem;

        p {
            color: map-get($colores, color-texto );
            text-indent: .3125rem;
        }

        img {
            border-radius: .3125rem;
            width: 18.75rem;
        }

        div {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            flex-wrap: wrap;
        }
    }

    .section-barcelona1 {
        width: 80%;
        @include flex(row, space-between, center);
        margin: auto;
        margin-bottom: 1.5625rem;
        gap: .625rem;

        .div-parrafo {
            width: auto;
        }

        img {
            width: 20.3125rem;
            border-radius: .3125rem;
        }

        p {
            text-indent: .3125rem;
            color: map-get($colores, color-texto );
        }
    }

    // -------------------------------------------
    .titulo-estadisticas {
        font-size: 3rem;
        color: map-get($colores, color-titulos );
        text-align: center;
        margin: .625rem 0;
    }

    .estadisticas-pagina {
        @include flex(row, space-around, none);
        margin: .625rem;

        .estadisticas {
            @include flex(column, center, none);
            gap: .3125rem;
            width: 40%;

            .h2-estadisticas:hover {
                text-decoration: underline;
            }

            ul {
                padding: .625rem;

                &:hover {
                    background-color: map-get($colores, fondo_clase-activo );
                    border-radius: .3125rem;
                }
            }

            .estadisticas-barcelona {
                @include flex(row, space-between, center);
                li {
                    list-style: none;
                    color: map-get($colores, color-texto );
                }
            }
        }
    }

    // ----------------------------------------------------

    .section-parrafo {
        color:map-get($colores, color-texto );
        text-indent: 7px;
        word-spacing: .1875rem;
        width: 96%;
        margin: auto;
    }

    .h3-premios {
        text-align: center;
        margin: .9375rem;
        color: map-get($colores, color-titulos );
    }

    .premios {
        @include flex(row, space-around, center);
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        // gap: 6.25rem;
        margin-bottom: .9375rem;

        .Premios-parrafo {
            width: 18.75rem;
        }

        img {
            width: 25rem;
            border-radius: .3125rem;
        }

        p {
            color: map-get($colores, color-texto );
            text-indent: .4375rem;
            word-spacing: .1875rem;
        }
    }

    // -------------------------------
    .titulo-inicio-contacto {
        text-align: center;
        margin-top: .9375rem;
        margin-bottom: .9375rem;
        font-size: 4rem;
        color: map-get($colores, color-titulos );
        font-weight: bold;
    }

    .contacto {
        @include flex(column, center, center);
        gap: 1.875rem;
        width: 100%;

        .parrafo-contacto {
            @include flex(column, none, none);
            gap: 1.5625rem;
            text-indent: .4375rem;
            font-size: 1.5rem;
            color: map-get($colores, color-texto );
            width: 80%;
        }

        .formulario {
            width: 30%;
            border-radius: .3125rem;
            background-color: rgba(43, 42, 42, 0.595);

            form {
                @include flex(column, none, none);
                width: 60%;
                margin: auto;
                margin-top: .9375rem;
                margin-bottom: .9375rem;
                gap: .9375rem;

                .separacion {
                    @include flex(column, center, none);
                    gap: .3125rem;

                    .color-input {
                        color: map-get($colores, color-texto );
                        font-size: 24px;
                    }

                    input {
                        height: 1.5625rem;
                    }
                    .tamaño-input{
                        height: 3.75rem;
                    }
                    .enviar {
                        background-color: rgb(49, 49, 212);
                        border-radius: .3125rem;
                        margin: auto;
                        width: 40%;
                        color: map-get($colores, color-texto );
                    }
                }
            }
        }
    }
}