// mapa
$colores:(
    fondo-header-footer: rgb(0, 0, 0),
    fondo-body: #0b0d1f,
    color-nombrepagina:  rgb(220, 225, 228),
    color-titulos: #ebebebcc,
    color-texto: #ebebeb,
    fondo_hover--nav-bar: gray,
    fondo_clase-activo: rgba(128, 128, 128, 0.614),
);
